{% load static %}

<!-- 以下的if/else代表的是：如果没有登录，则显示一些东西和按钮，若登录也显示一些东西和按钮。 -->
<ul>
    {% if request.user.is_authenticated %}
        <li>
            Hi, {{request.user.username}} 
        </li>
        <li>
            <a href = "{% url 'logout' %}">Logout</a> 
        </li>
    {% else %}
        <li>
            <a href = "{% url 'login' %}">Login</a>
        </li>
        <li>
            <a href = "{% url 'signup' %}">Signup</a>
        </li>

    {% endif %}
<ul>

<header>
    <div>
        <a href = "{% url 'make_post' %}"> Make Post </a>
    </div>
</header>    

<div>

    {% for post in object_list %}
        <a href = "{% url 'post_detail' post.id %}">
            <img src = "/{{post.image}}">
        </a>
    {% endfor %}

</div>